@page
@model __NameSpace__.Pages.SampleLineBot
@{
    ViewData["Title"] = "index";
}

<!-- bootstrap 4.3.1 -->
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="~/isPageModel.js"></script>
<script>
    $(document).ready(function () {
        $('#Button1').click(function (e) {
            ExecutePageMethod('PushMessage',
                { fieldToken: $('#fieldToken').val(), 
                  fieldUserId: $('#fieldUserId').val(),
                  fieldMessage: $('#fieldMessage').val()
                 }).then(
                    (ret) => { $('#result').html(ret); }
                );
        });
    });
</script>

<body>
    <form>
        <div class="row" style="margin:10px">
            @Html.AntiForgeryToken()
            <div class="col-6">
                <h1>LINE Bot</h1>
                <label>Channel Access Token:</label>
                <input class="form-control" id="fieldToken" value="" placeholder="ChannelAccessToken" />
                <label>UserID:</label>
                <input class="form-control" id="fieldUserId" value="" placeholder="UserID" />
                  <label>Message to Send:</label>
                <input class="form-control" id="fieldMessage" value="" placeholder="Message to Send" />
                <br />
                <button class="btn btn-primary" id="Button1" type="button">Push</button>
                <br />
                <span id="result"></span>
            </div>
        </div>
    </form>
</body>

